name: Docker Build - Green

on:
  pull_request:
    branches:
      - main

env:
  REGISTRY: docker.io

jobs:
  build-green:
    # main への PR 時
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pull-requests: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: kansungyu
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push green image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: kansungyu/git-study:green
          build-args: |
            BUILD_ENV=green
          cache-from: type=gha
          cache-to: type=gha,mode=max
